RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

ErrorDocument 404 /404

<IfModule mod_headers.c>
  <FilesMatch "\.(png|jpg|jpeg|gif)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
